allensdk
anndata
duckdb
fastexcel
h5py
ipywidgets
marimo
matplotlib
numpy
pandas
polars
psutil
pydantic
python-jsonpath
pyyaml
scipy
tqdm
traitlets
typing-extensions
git+https://github.com/alleninstitute/abc_atlas_access
git+https://github.com/alleninstitute/aisynphys
git+https://github.com/srirampc/awitree
git+https://github.com/srirampc/codetiming
